.contact{
   display:inline;
   align-items: center;
   justify-content: center;
}
.contact h3{
   margin-left: 430px;
}
.insta-img-container{
    display: inline;
}
.insta-img{
    width: 2%;
    height: 2%;
    margin-left: 450px;
    margin-top: 0;
}
.insta-para{
    font-size: 21px;
    font-weight: bold;
    display: inline;
    text-decoration: none;
    color: black ;
}
.payment-img1,.payment-img2{
    width: 2%;
    height: 2%;
    margin-top: 0pc;
    display: inline;
}
.payment-img1,.payment-container h6{
    margin-left: 450px;
}