body {
    font-family: "Patua One", serif ;
}
 #logo{
    display: block;
    position: absolute;
    top:0;
    left:0;
    width: 80px;
    height: 40px;
} 
.sign-container{
    position: absolute;
    display: block;
 bottom: 13pc;
 right:5pc;
    
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
.container h2{
    margin-bottom: 10px;
    font-size: 30px;
    

}

button {
    margin-top: 10px;
    background-color: #865ba4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #865bf7;
    border-radius: 10px;
    transition: 0.5s;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input[type="text"], input[type="password"], input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
.btn-container{
    position: absolute;
    bottom: 13pc;
     right: 12pc;
    
}
#logout-btn{
    margin-top: 10px;
    background-color: #4285F4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
  
}

#logout-btn:hover {
    background-color: #3c78d8;
    border-radius: 10px;
    transition: 0.5s;
}
.login-p{
    margin-top: 4px;
}
.login-p a{
    color: #0000FF;
}
#checkbox{
margin-top: 10px;
margin-left: 0;
}